.ai-image-generator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-photo/black-brick-wall-background-rough-concrete-with-neon-lights-glowing-lights-lighting-effect_826551-196.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.header span{
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 10s infinite;
}
@keyframes blink {
    20%,
    24%,
    55%,
    60% {
     
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
.image-loading{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.image-loading img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
.image-loading img:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(45, 45, 45, 0.997);
    width: 260px;
    height: 260px;
    cursor: pointer;

    
}
.search-box{
    position: relative;
    margin-top: 25px;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 10px;
    gap: 20px;
}
.search-input{
    border:none;
    border-radius: 50px;
    width: 500px;
    padding: 10px;
    font-size: 1.2rem;
}
.generate-btn{
    display: inline-block;
    outline: 0;
    border: 0;
    background-image: linear-gradient(to right,#e052a0,#f15c41);
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding: 5px 7px;
    font-size: 18px;
    margin-right: 0;
}
.generate-btn:hover {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
}
@media (max-width:450px) {
    .header{
        font-size: 1.4rem;
        padding: 10px;
    }
    .search-box{
        flex-direction: column;
    }
    .search-input{
        border:none;
        border-radius: 50px;
        width: 80vw;
        padding: 7px;
        font-size: 1rem;
    }
}
.bottom{
    margin-top: 10px;
    color: white;
}